body {
  background: #f2f2f2f2;
}

// トップページ
.cover {
  background: image-url("top-img.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  &__inner {
    height: 100%;
    margin: auto;
    display: table;
    &__contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        padding: 2em 0;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 6vw;
        text-shadow: black 1px 1px 0px, black -1px 1px 0,
                     black 1px -1px 0px, black -1px -1px 0;
      }
      &__text {
        color: white;
        font-size: 3vw;
        text-shadow: black 1px 1px 0px, black -1px 1px 0,
                     black 1px -1px 0px, black -1px -1px 0;
      }
    }
  }
}


.self-introduction {
  color: #606060;
}

// 口コミリスト
.post-box {
  max-width: 1140px;
  .image-box {
    max-height: 160px;
  }
}

// 本の詳細テーブル
tbody {
  tr {
    th {
      width: 20%;
    }
    td {
      width: 80%;
    }
  }
}

